<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>RefuGeenius - <%= title %></title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Bootstrap -->
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="stylesheets/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

	<!-- Bootstrap Date-Picker Plugin -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

	<!-- Bootstrap Form Helpers -->
	 <link href="stylesheets/bootstrap-form-helpers.min.css" rel="stylesheet" media="screen">
</head>
<body>
	<!-- NAVBAR -->
	<nav id="myNavbar" class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">RefuGeenius</a>
			</div>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav navbar-right">
					<form id="signin" class="navbar-form navbar-right" role="form">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input class="form-control" name="email" value="" placeholder="Phone Number">
						</div>
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input id="password" type="password" class="form-control" name="password" value="" placeholder="Password">
						</div>
						<button type="submit" class="btn btn-primary">Login</button>
					</form>
				</ul>
			</div>
		</div>
	</nav>

	<!-- BODY -->
	<div class="container">

		<!-- LOGIN BOX -->
		<div class="col-lg-4" >
			<div id="logbox">
				<form id="signupForm" method="post" action="">
					<h1><small>Step 1.</small></h1>
					<h1><b>Create an Account</b></h1>
					<input id="phoneNumber" type="tel" placeholder="Phone Number" class="input pass"/>
					<input id="userName" type="name" placeholder="Full Name" class="input pass"/>
					<input id="password" type="password" placeholder="Password" class="input pass"/>
					<br>
					<div class="centerme">
						<p>What's your role?</p>
						<label id="ref" class="radio-inline"><input type="radio" name="optradio" id="refButton"><b>Refugee</b></label>
						<label id="vol" class="radio-inline"><input type="radio" name="optradio"><b>Volunteer</b></label>
					</div>
					<br>
					<br>
					<!--<input type="submit" value="Sign me up!" class="inputButton"/>-->
				</form>
			</div>
		</div>
		<!-- END OF LOGIN BOX -->

		<!-- REFUGEE SURVEY BOX -->
		<div id="refugee-survey" class="col-lg-8 hid">
			<div class ="survey">
				<form id="refugeeForm">
					<h1><small>Step 2.</small></h1>
					<h1><b>Fill out the Survey</b></h1>
					<br>
					<p>This survey will help the students to find blabla</p>
					<br>
					<div class="form-group">
				    <label class="survey-label" for="countryInput">Where are you from?</label>
				    <div id="countryInput" class="bfh-selectbox bfh-countries" data-country="US" data-flags="true"></div>
				  </div>
					<div class="form-group">
						<label class="survey-label" for="campInput">Which camp are you from?</label>
						<input id="campName" type="name" placeholder="" class="form-control"/>
					</div>
					<div class="form-group">
						<label class="survey-label" for="languageInput">What languages can you speak?</label>
						<select id="languageInput" multiple class="form-control bfh-languages" data-language="en" data-available="en,es,ar,ne,so,my,hy,zh,ps,fa,fr,pt,pa,ru,tr,ta,ur,vi"></select>
						<small>Hold ctrl to select more than one.</small>
					</div>
					<div class="form-group">
						<label class="survey-label" for="subjectInput">Which subject(s) do you need help with?</label>
						<select multiple class="form-control">
							<option>Math</option>
							<option>Science</option>
							<option>English</option>
							<option>Foreign Languages</option>
							<option>History</option>
							<option>Art</option>
						</select>
						<small>Hold ctrl to select more than one.</small>
					</div>
					<div class="form-group">
						<label class="survey-label" for="subjectInput">What skills do you want to develop with a mentor?</label>
						<select multiple class="form-control">
							<option>Public Speaking</option>
							<option>Networking</option>
							<option>Resume 101</option>
							<option>Increasing Self Confidence</option>
							<option>Interviewing for Jobs</option>
							<option>Mental Health Support</option>
							<option>Successful Habits for School</option>
						</select>
						<small>Hold ctrl to select more than one.</small>
					</div>
					<button class="inputButton" onclick="submitRefugeeForms()">Sign me up!</button>
				</form>
			</div>

		</div>
		<!-- END OF REFUGEE SURVEY BOX -->

		<!-- VOLUNTEER SURVEY BOX -->
		<div id="volunteer-survey" class="col-lg-8 hid">
			<div class ="survey">
				<form id="volunteerForm" method="post" action="">
					<h1><small>Step 2.</small></h1>
					<h1><b>Fill out the Survey</b></h1>
					<br>
					<p>This survey will help the students to find blabla</p>
					<br>
					<div class="form-group">
				    <label class="survey-label" for="countryInput">Where are you from?</label>
				    <div id="countryInput" class="bfh-selectbox bfh-countries" data-country="US" data-flags="true"></div>
				  </div>
					<div class="form-group">
						<label class="survey-label" for="languageInput">What languages can you speak?</label>
						<select multiple class="form-control bfh-languages" data-language="en" data-available="en,es,ar,ne,so,my,hy,zh,ps,fa,fr,pt,pa,ru,tr,ta,ur,vi"></select>
						<small>Hold ctrl to select more than one.</small>
					</div>
					<div class="form-group">
						<label class="survey-label" for="countryInput">How do you want to contribute?</label>
						<div class="checkbox">
							<label>
								<input type="checkbox"><b>Academic</b>
								<p>Provide academic support and curriculum in subjects such as math, english, or science </p>
								<p>If yes, what subjects can you teach?</p>
								<div class="form-group">
									<select multiple class="form-control">
										<option>Math</option>
										<option>Science</option>
										<option>English</option>
										<option>Foreign Languages</option>
										<option>History</option>
										<option>Art</option>
									</select>
									<small>Hold ctrl to select more than one.</small>
								</div>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"><b>Mentorship</b>
								<p>Become a mentor for a specific Refugee girl and provide advice related to careers and personal development to help them achieve their goals!</p>
								<p>If yes, what areas can you help with?</p>
								<div class="form-group">
									<select multiple class="form-control">
										<option>Public Speaking</option>
										<option>Networking</option>
										<option>Resume 101</option>
										<option>Increasing Self Confidence</option>
										<option>Interviewing for Jobs</option>
										<option>Mental Health Support</option>
										<option>Successful Habits for School</option>
									</select>
									<small>Hold ctrl to select more than one.</small>
								</div>
							</label>
						</div>
					</div>
					<button class="inputButton" onclick="submitRefugeeForms()">Sign me up!</button>
				</form>
			</div>
		</div>
		<!-- END OF VOLUNTEER SURVEY BOX -->

	</div>
	<!-- END OF BODY -->

	<!-- SCRIPTS -->

	<!-- Submit -->
	<script>
		function submitRefugeeForms() {
			SubmitMyForm();
		}
	</script>


	<!-- jQuery -->
	<script src="js/jquery-3.2.1.min.js"></script>

	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>

	<!-- Bootstrap Form Helpers -->
	<script src="js/bootstrap-formhelpers.js"></script>
	<script src="js/index.js"></script>
	<script src="js/signup.js"></script>

</body>
</html>
