
body {
  background-image: url("../img/bln7.jpg");
  background-position: top left, center center;
  background-size: 100%;
}

h1 {
	color: #FFF;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #000;
}

p {
  color: #FFF;
  font-size: 30px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #000;
}

.btnme {
  font-size: 30px;
    color: #000;
}

.texts {
	text-align: center;
}

.button {
	width: 100%;
	margin: 0 auto;
}
